<div class="container ">
    <div class="row">
        <div class="col-8">
            <!-- Mensaje de Bienvenida al usuario -->
            <div class="d-flex">
                <h4 class="fw-semibold">Bienvenido&nbsp;</h4>
                <h4 class="fw-semibold" id="nombreAdmin"></h4>
            </div>
            <p class="fw-light">Es un gusto tenerte de regreso, ponte al día sobre las nuevas actualizaciones de tu academia de football.</p>
            <div class="row mt-5">
                <div class="col-6">
                    <div class="container bg-blue-principal-color text-center rounded-3">
                        <p class="p-2 text-light fs-5">Estadísticas</p>
                    </div>
                    <!-- Input para seleccionar al equipo -->
                    <div class="mb-3 row mt-5">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Elige el equipo</label>
                        <div class="col-sm-8">
                          <select type="password" class="form-select" id="inputPassword"></select>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-2">
                            <img src="../../../resources/img/svg/statistics.svg" alt="">
                        </div>
                        <div class="col-10 ">
                            <p class="fs-6 fw-semibold">Estadisticas generales del equipo</p>
                            <p class="mt-0">Revisa las estadísticas generales tanto en áreas técnicas,
                                tácticas, técnicas y mentales de los equipos </p>
                        </div>
                    </div>
                <div class="col-6">

                </div>
            </div>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>