<div class="container">
    <div class="row align-items-center p-2 text-light  bg-blue-secondary-color rounded-3">
        <div class="col-auto">
            <div class="p-2">
                <img src="../../../resources/img/svg/icons_dashboard/football_ball.svg" width="35px">
            </div>
        </div>
        <div class="col">
            <h5 class="mt-2">Seleccionar el partido:</h5>
        </div>
    </div>

    <!-- Buscador -->
    <div class="col-sm-12 col-md-6 mt-4">
        <p class="small mb-2">Busca la fecha del partido que quieres encontrar</p>
        <form id="searchForm" class="d-flex">
            <input type="search" class="form-control me-3 borde-transparente campo rounded-3 shadow" name="search"
                placeholder="Buscar" required>
            <button type="submit" class="btn bg-blue-principal-color borde-transparente rounded-circle me-md-3 me-sm-0">
                <img src="../../../resources/img/svg/icons_forms/search.svg" width="18px" height="18px">
            </button>
        </form>
    </div>

    <!-- Fila que contiene dos columnas -->
    <div class="container mt-5">
        <div class="row d-flex text-center">
            <div class="col-md-6 col-sm-12">
                <!-- Tarjeta -->
                <div class="tarjetas shadow p-4" onclick="">
                    <div class="row">
                        <div class="col-auto">
                            <img src="../../../resources/img/svg/calendar.svg" alt="">
                        </div>
                        <div class="col">
                            <p class="fw-semibold mb-0">14 de noviembre</p>
                            <p class="small">Localidad</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-4">
                            <img src="../../../resources/img/svg/icons_dashboard/logo_gol.svg" class="img">
                            <p class="small mt-3">Un gol para El Salvador</p>
                        </div>
                        <div class="col-4">
                            <h2 class="fw-semibold">5 : 10</h2>
                        </div>
                        <div class="col-4">
                            <img src="../../../resources/img/svg/icons_dashboard/logo_rival.svg" class="img">
                            <p class="small mt-3">Un gol para El Salvador</p>
                        </div>
                    </div>
                    <hr>
                    <button class="btn bg-blue-principal-color text-white btn-sm rounded-3">
                        Ver jugadores
                    </button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">

            </div>
        </div>
    </div>
</div>