<div class="container">
    <div class="container-fluid mb-5">
        <div class="row gy-3">
            <!-- Buscador -->
            <div class="col-sm-12 col-md-6">
                <form id="searchForm" class="d-flex">
                    <input type="search" class="form-control me-3 borde-transparente campo rounded-3 shadow"
                        name="search" placeholder="Buscar" required>
                    <button type="submit"
                        class="btn bg-blue-principal-color borde-transparente rounded-circle me-md-3 me-sm-0">
                        <img src="../../../resources/img/svg/icons_forms/search.svg" width="18px" height="18px">
                    </button>
                    <button type="reset" class="btn" onclick="cargarTabla()">
                        <img src="../../../resources/img/svg/icons_forms/reset.svg" width="18px" height="18px">
                    </button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">
                <!-- Botón Agregar -->
                <button
                    class="btn bg-blue-principal-color text-white ms-auto borde-transparente float-md-end float-sm-left btn-sm rounded-3"
                    type="submit" onclick="openCreate()">
                    <span class="fs-5 me-2">+</span> Agregar participación
                </button>
            </div>
        </div>
    </div>
    <hr>
    <!-- Tabla para mostrar los registros existentes -->
    <div class="table-responsive">
        <table class="table table align-middle table-striped table-borderless text-center">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="6" id="rowsFound"></td>
                </tr>
                <tr>
                    <th class="fw-semibold">Imagen</th>
                    <th class="fw-semibold">Nombre</th>
                    <th class="fw-semibold">Apellido</th>
                    <th class="fw-semibold">Minutos jugados</th>
                    <th class="fw-semibold">Goles</th>
                    <th class="fw-semibold">Amonestaciones</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tabla_participacion"></tbody>
        </table>
    </div>
</div>

<!-- Componente Modal para guardar un registro -->
<div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color text-light">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5" id="modalTitle"></h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <!-- Formulario para crear o actualizar un registro -->
            <form class="form container-fluid" id="saveForm">
                <div class="row py-4">
                    <div class="col-sm-12 col-md-6 mb-3">
                        <div class="row">
                            <div class="col-8">
                                <p class="fw-semibold">Titular</p>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                  </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3">
                        <div class="row">
                            <div class="col-8">
                                <p class="fw-semibold">Titular</p>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                  </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3">
                        <label for="nombreAdministrador" class="form-label fw-semibold">Minutos jugados</label>
                        <input id="nombreAdministrador" type="text" name="nombreAdministrador" class="form-control"
                            placeholder="Ingresa el nombre del administrador" required>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-3">
                        <label for="apellidoAdministrador" class="form-label fw-semibold">Asistencias</label>
                        <input id="apellidoAdministrador" type="text" name="apellidoAdministrador" class="form-control"
                            placeholder="Ingresa el apellido del administrador" required>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-3">
                        <label for="correoAdministrador" class="form-label fw-semibold">Puntuación</label>
                        <input id="correoAdministrador" type="email" name="correoAdministrador" class="form-control"
                            placeholder="Ingresa el correo de administrador" required>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-3">
                        <label for="correoAdministrador" class="form-label fw-semibold">Goles</label>
                        <input id="correoAdministrador" type="email" name="correoAdministrador" class="form-control"
                            placeholder="Ingresa el correo de administrador" required>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Componente Modal para ver el análisis -->
<div class="modal fade" id="seeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitle2" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color text-light">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5" id="modalTitle2"></h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <!-- Formulario para crear o actualizar un registro -->
            <form action="#" class="form container-fluid" id="viewForm">
               
            </form>
        </div>
    </div>
</div>

<!-- Componente Modal para ver la gráfica de barras -->
<div class="modal fade" id="graphicModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitle2" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color text-light">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5" id="modalTitle3"></h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="row justify-content-center">
                <!-- Contenedor de la gráfica -->
                <div class="col-md-9 col-sm-9">
                    <div class="container-fluid">
                        <canvas id="analisis"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>