<div class="container">
    <div class="row align-items-center p-2 text-light  bg-blue-secondary-color rounded-3">
          <div class="col-auto">
            <div class="p-2">
                <img src="../../../resources/img/svg/icons_dashboard/football_ball.svg" width="35px">
            </div>
          </div>
          <div class="col">
                <h5 class="mt-2">Seleccionar el equipo:</h5>
          </div>
     </div>
     
     <div class="container mt-5">
        <div class="row d-flex text-center" id="tarjetas">

         </div>       
     </div>
</div>

