/* Estilos para las cartas del carrusel */
.carousel-item {
    transition: transform 0.6s ease-in-out;
}

.card {
    color: black;
    border: 2px solid rgb(2, 8, 135); /* Azul oscuro */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.correccion{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    width: 150px;
}

.botones {
    border-radius: 50%;
    /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    /* Sombra */
    transition: all 0.3s ease;
    /* Animación de transición */
}

.botones:hover {
    border-radius: 100%;
    transform: scale(1.05);
    /* Escala al 105% en hover */
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
    /* Sombra más pronunciada en hover */
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

.card-footer {
    border-top: none;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    background: linear-gradient(180deg, rgb(2, 8, 135), rgb(1, 2, 37)); /* Degradado del borde */
}

.carousel-control-prev,
.carousel-control-next {
    width: 3rem; /* Ajusta el ancho del botón según sea necesario */
    font-size: 1rem; /* Ajusta el tamaño del texto si es necesario */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}
