/* Configuración del fondo de la página */
body {
  background-image: url('../../resources/img/svg/logo_opaco.svg');
  background-repeat: repeat;
  background-size: auto;
}

/* Estilos para los botones con color de fondo personalizado */
.btn-color {
  background-color: #03045E;
  color: #fff;
}

/* Cambio de color del texto al pasar el cursor sobre el botón */
.btn-color:hover {
  color: #FFFFFF;
}

/* Tamaño de fuente para elementos con clase "letra" */
.letra{
  font-size: 1.1rem;
}

/* Tamaño de fuente para elementos con clase "letra2" */
.letra2{
  font-size: 1.8rem;
}

/* Estilos para botones con borde */
.borde-btn {
  border: 2px solid #03045E;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

/* Efecto de escala y sombra al pasar el cursor sobre el botón */
.borde-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

/* Estilos generales para bordes */
.borde {
  border: 2px solid #03045E;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

/* Efecto de escala y sombra al pasar el cursor sobre el elemento con clase "borde" */
.borde:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

/* Estilos para la fila del logo */
.logo-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Estilos para la imagen del logo */
.logo-image {
  width: 100%;
  max-width: 1200px;
  height: auto;
}

/* Colores de fondo */
.bg-blue-principal-color {
  background-color: #2A4A7C;
}

.bg-blue-secondary-color {
  background-color: #3F6EB5;
}

/* Colores de texto */
.text-blue-principal-color {
  color: #2A4A7C;
}

/* Estilos para las tarjetas */
.card {
  border: 3px solid #000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  width: 90%;
  max-width: 600px;
}

/* Efecto de escala y sombra al pasar el cursor sobre la tarjeta */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

/* Estilos para el contenedor del icono */
.icon-container {
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

/* Estilos para el icono dentro del contenedor */
.grupo-campos-texto-publico .icon-container .input-icon {
  color: #000;
}

/* Cambio de color del icono y del contenedor al enfocar el campo de texto */
.grupo-campos-texto-publico:focus-within .icon-container .input-icon {
  color: #28a745;
}

.grupo-campos-texto-publico:focus-within .icon-container {
  background-color: #d6f5d6;
}

/* Centrado de la imagen del logo */
.logo-center {
  display: block;
  margin: 0 auto;
}

/* Estilos para pantallas con un ancho mínimo de 768px */
@media (min-width: 768px) {
  .card {
      width: 80%;
      max-width: 800px;
  }
  .p-md-5 {
      padding: 3rem !important;
  }
  .h2, h2 {
      font-size: 2rem;
  }
  .btn,
  .form-control,
  .input-icon {
      font-size: 1.2rem !important;
  }
}
