/* Estilo para el menu */
.offcanvas,
.offcanvas-body,
.title-content {
    scrollbar-width: none;
    background-image: linear-gradient(180deg, rgb(2, 8, 135), rgb(1, 2, 37));
}

.dropdown-menu {
    margin-left: 30px;
    border: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--bs-dropdown-link-hover-color);
    background-color: rgb(13, 56, 126);
}

.contenedor {
    background-color: rgb(1, 4, 79);
    margin-top: 100px;
    margin-bottom: 40px;
}

.navbar {
    --bs-navbar-toggler-border-color: none;
}



/* Estilo para las tablas */
.borde-transparente {
    transition: all 0.3s ease;
    /* Animación de transición */
}

.borde-transparente:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.305);
    /* Sombra más pronunciada en hover */
}

.transparente {
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
    /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.305);
    /* Sombra */
    transition: all 0.3s ease;
    /* Animación de transición */
}

.transparente:hover {
    border-radius: 100%;
    transform: scale(1.05);
    /* Escala al 105% en hover */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    /* Sombra más pronunciada en hover */
}

.circulo {
    border-radius: 50%;
}

hr {
    color: rgb(158, 154, 154);
}


/* Estilos para el dashboard    */
.result_one {
    background-image: linear-gradient(180deg, rgb(12, 186, 82), rgb(6, 84, 37));
}

.result_second {
    background-image: linear-gradient(180deg, rgb(255, 84, 84), rgb(153, 50, 50));
}

.result_third {
    background-image: linear-gradient(180deg, rgb(239, 171, 38), rgb(137, 98, 22));
}

#calendar{
    height: 390px;
}

/* Participaciones jugadores estilos */

.tarjetas,
.tarjetas-equipos {
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.tarjetas-equipos:hover {
    transform: scale(1.05);
}

.tarjetas:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}


.titulo-equipo {
    background-image: linear-gradient(180deg, rgb(2, 8, 135), rgb(1, 2, 37));
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
}

.img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.margen {
    margin-bottom: 0px;
    margin-top: 85px;
}

.titulo {
    font-size: 20px;
}

.icono-verde {
    fill: green;
}

.icono-rojo {
    fill: red;
}

@media (max-width: 770px) {
    .margen {
        margin-bottom: 2rem;
        margin-top: 50px;
    }


    .titulo {
        font-size: 16px;
    }

    .contactanos{
        text-align: center;
    }
}

/* Calendar */
a{
    text-decoration: none;
    color: black;
}

#fc-dom-1 {
    font-size: larger;
}