<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../resources/css/stepper.css" />
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../../resources/img/svg/logos/logo_blanco.svg">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../../resources/scss/main.css">
    <!-- Agregamos su archivo css -->
    <link type="text/css" rel="stylesheet" href="../../../resources/css/styles.css">
    <title>Plantillas</title>
</head>

<body>
    <main id="main"></main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../../resources/js/vanillaTextMask.js"></script>
    <script type="text/javascript" src="../../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador del componente -->
    <script type="text/javascript" src="../../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../../controllers/utils/technics.js"></script>
    <!-- Llamada al controlador del componente javascript -->
    <script type="text/javascript" src="../../../controllers/technicals/template.js"></script>

</body>

</html>