<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <p class="tex-color fw-bold text-start mt-5">FUNDACIÓN</p>
        </div>
        <div class="col-12">
            <p class="texSub-color fs-1 fw-semibold text-start">UN GOL PARA EL SALVADOR</p>
        </div>
        <div class="col-9 mt-5">
            <p class="texParra-color fw-normal">Transformamos vidas a través del fútbol, mejorando la
                calidad de vida de niños y jóvenes salvadoreños. Con nuestra filosofía del "VAR" - Ver, Animar, Respetar
                - inculcamos valores, disciplina y ciudadanía responsable,
                demostrando que el verdadero espíritu deportivo impulsa un cambio positivo dentro y fuera del campo.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-5 col-md-12 col-sm-12 col-lg-5">
            <div class="row">
                <div class="col-12">
                    <div class="icon-text-box">
                        <i class="bi bi-check-circle"></i>
                        <div class="text-box">
                            Enseñamos principio de fútbol
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="icon-text-box">
                        <i class="bi bi-check-circle"></i>
                        <div class="text-box">
                            Transmitimos valores morales y éticos
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="icon-text-box">
                        <i class="bi bi-check-circle"></i>
                        <div class="text-box">
                            Participamos en torneos locales e internacionales
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-1 vertical-line"></div>
        <div class="col-5 col-md-12 col-sm-12 col-lg-5 mt-3">
            <div class="row">
                <div class="col-12">
                    <p class="hashtag">#FORMAR ES GANAR</p>
                </div>
                <div class="col-12">
                    <div class="phone-section">
                        <img src="../../../resources/img/png/public/icon-tel.png" class="phone-icon" alt="icon-telefono">
                        <div>
                            <p class="phone-text">¡Entrena con nosotros!</p>
                            <p class="phone-number">(+503) 6042-5869</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-12">
            <hr class="col-hr">
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-9 mt-5">
            <p class="texSub-color fs-1 fw-semibold text-start">VISÍTANOS EN EL COMPLEJO DEPORTIVO DE CIUDAD MERLIOT</p>
        </div>
        <div class="col-3">
            <a href="https://www.google.com/maps/dir//13.6714144,-89.2603272/@13.6714134,-89.301474,13z?entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                <img src="../../../resources/img/png/public/icon-map.png" alt="icon-mapa"></a>
        </div>
    </div>
</div>