<div class="container ">
    <div class="box-info">
        <h1>CONTÁCTATE CON NOSOTROS</h1>
        <div class="data">
            <p><i><img class="ms-1" src="../../../resources/img/png/public/bxs-phone.svg" width=30px"></i> (+503) 6023 5586</p>
            <p><i><img class="ms-1" src="../../../resources/img/png/public/gmail.png" width=30px"></i> ungolparaelsalvador@gmail.com</p>
            <p><i><img class="ms-1" src="../../../resources/img/png/public/ubicacion.png" width=30px"></i> Antiguo Cuscatlán, El Salvador</p>
        </div>
        <div class="links">
            <a href="https://www.facebook.com/UnGolParaElsalvador" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/ungolparaelsalvador/?hl=es" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/@FudacionUnGolParaElSalvador" target="_blank" rel="noopener noreferrer"><i class="bi bi-youtube"></i></a>
            <a href="https://www.tiktok.com/@ungolparaelsalvador?lang=es" target="_blank" rel="noopener noreferrer"><i class="bi bi-tiktok"></i></a>
        </div>
    </div>
    <form class="contact-form" id="saveForm">
        <div class="input-box">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" required autocomplete="off">
            <i class="bi bi-person"></i>
        </div>
        <div class="input-box">
            <input type="email" name="correo" id="correo" required placeholder="Correo electrónico" autocomplete="off">
            <i class="bi bi-envelope"></i>
        </div>
        <div class="input-box">
            <textarea name="mensaje" id="mensaje" placeholder="Escribe tu mensaje..." required></textarea>
        </div>
        <button class="btn" id="boton" onclick="envioCorreo()" type="submit">Enviar mensaje</button>
    </form>
</div>