<div class="container-fluid p-5 mb-5" id="navbar">
    <div class="row justify-content-center align-items-center ps-5 pt-5">
        <div class="col-sm-12 col-md-8">
            <h5 id="fecha" class="fw-bolder text-light text-center">14 de noviembre de 2024</h5>
            <div class="container-fluid p-5 text-light">
                <div class="row text-center">
                    <div class="col-md-5">
                        <img id="logo_equipo" src="../../../resources/img/png/logo_default.png"
                            alt="Logo del equipo local" class="img-fluid">
                        <h4 id="equipo" class="mt-2">Un gol para El Salvador</h4>
                        <p id="categoria">Nivel 2</p>
                    </div>
                    <div class="col-md-2 mt-5">
                        <h1 id="resultado" class="mt-5">2 - 1</h1>
                    </div>
                    <div class="col-md-5">
                        <img id="logo_rival" src="../../../resources/img/png/logo_default.png"
                            alt="Logo del equipo rival" class="img-fluid">
                        <h4 id="rival" class="mt-2">Internacional de San Salvador</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<article>
    <!-- Tabs Navigation -->
    <ul class="nav nav-tabs mt-4 justify-content-center" id="profileTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active text-light bg-blue-principal-color" id="alineacion-tab" data-bs-toggle="tab"
                data-bs-target="#alineacion" type="button" role="tab" aria-controls="alineacion"
                aria-selected="true">Alineación</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-light bg-blue-principal-color" id="stats-tab" data-bs-toggle="tab"
                data-bs-target="#stats" type="button" role="tab" aria-controls="stats"
                aria-selected="false">Estadisticas</button>
        </li>
    </ul>

    <!-- Tabs Content -->
    <div class="tab-content" id="profileTabsContent">
        <!-- Alineación -->
        <div class="tab-pane fade show active" id="alineacion" role="tabpanel" aria-labelledby="alineacion-tab">
            <h3 class="fw-bold text-center mb-4">Alineación</h3>
            <div class="field">
                <div class="inner">
                    <div class="middle-line"></div>
                    <div class="middle-circle"></div>
                    <div class="bow is-left"></div>
                    <div class="bow is-right"></div>
                    <div class="penalty-area is-left"></div>
                    <div class="penalty-area is-right"></div>
                    <div class="goal is-left">
                        <div class="penalty">

                        </div>
                    </div>
                    <div class="goal is-right">
                        <div class="penalty">

                        </div>
                    </div>
                </div>
                <div class="player-cards">
                    <!-- Carta del Portero -->
                    <div class="card player-card" style="top: 40%; left: 6%;">
                        <img src="../../../resources/img/png/public/user.png" class="card-img-top" alt="Jugador 1">
                        <div class="card-body p-1 text-center">
                            <p class="card-text">Portero</p>
                        </div>
                    </div>

                    <!-- Carta del Defensa -->
                    <div class="card player-card" style="top: 8%; left: 25%;">
                        <img src="../../../resources/img/png/public/user.png" class="card-img-top" alt="Jugador 2">
                        <div class="card-body p-1 text-center">
                            <p class="card-text">Defensa</p>
                        </div>
                    </div>
                    
                    <!-- Carta del Defensa -->
                    <div class="card player-card" style="top: 30%; left: 25%;">
                        <img src="../../../resources/img/png/public/user.png" class="card-img-top" alt="Jugador 1">
                        <div class="card-body p-1 text-center">
                            <p class="card-text">Defensa</p>
                        </div>
                    </div>
                    
                    <!-- Carta del Defensa -->
                    <div class="card player-card" style="top: 51%; left: 25%;">
                        <img src="../../../resources/img/png/public/user.png" class="card-img-top" alt="Jugador 1">
                        <div class="card-body p-1 text-center">
                            <p class="card-text">Defensa</p>
                        </div>
                    </div>
                    
                    <!-- Carta del Defensa -->
                    <div class="card player-card" style="top: 72%; left: 25%;">
                        <img src="../../../resources/img/png/public/user.png" class="card-img-top" alt="Jugador 1">
                        <div class="card-body p-1 text-center">
                            <p class="card-text">Defensa</p>
                        </div>
                    </div>

                    <!-- Carta del Mediocentro -->
                    <div class="card player-card" style="top: 8%; left: 50%;">
                        <img src="../../../resources/img/png/public/user.png" class="card-img-top" alt="Jugador 2">
                        <div class="card-body p-1 text-center">
                            <p class="card-text">Mediocentro</p>
                        </div>
                    </div>
                    
                    <!-- Carta del Mediocentro -->
                    <div class="card player-card" style="top: 30%; left: 50%;">
                        <img src="../../../resources/img/png/public/user.png" class="card-img-top" alt="Jugador 1">
                        <div class="card-body p-1 text-center">
                            <p class="card-text">Mediocentro</p>
                        </div>
                    </div>
                    
                    <!-- Carta del Mediocentro -->
                    <div class="card player-card" style="top: 51%; left: 50%;">
                        <img src="../../../resources/img/png/public/user.png" class="card-img-top" alt="Jugador 1">
                        <div class="card-body p-1 text-center">
                            <p class="card-text">Mediocentro</p>
                        </div>
                    </div>
                    
                    <!-- Carta del Mediocentro -->
                    <div class="card player-card" style="top: 72%; left: 50%;">
                        <img src="../../../resources/img/png/public/user.png" class="card-img-top" alt="Jugador 1">
                        <div class="card-body p-1 text-center">
                            <p class="card-text">Mediocentro</p>
                        </div>
                    </div>
                    
                    <!-- Carta del Delantero -->
                    <div class="card player-card" style="top: 30%; left: 75%;">
                        <img src="../../../resources/img/png/public/user.png" class="card-img-top" alt="Jugador 1">
                        <div class="card-body p-1 text-center">
                            <p class="card-text">Delantero</p>
                        </div>
                    </div>
                    
                    <!-- Carta del Delantero -->
                    <div class="card player-card" style="top: 51%; left: 75%;">
                        <img src="../../../resources/img/png/public/user.png" class="card-img-top" alt="Jugador 1">
                        <div class="card-body p-1 text-center">
                            <p class="card-text">Delantero</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Estadísticas -->
        <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
            <!-- Estadísticas -->
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <h3 class="fw-bold text-center mb-4">Estadísticas</h3>
                    <div id="stats" class="d-flex justify-content-center">
                        <div class="col-sm-12 col-md-8 mb-4">
                            <div class="cards shadow p-3 border border-dark-subtle d-flex justify-content-center">
                                <div class="col-4">
                                    <h1 class="fw-bold text-secondary">Juan García</h1>
                                </div>
                                <div class="col-4">
                                    <h1 class="fw-bold text-secondary">2 goles</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<!-- Información del Partido -->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h3 class="fw-bold">Información del partido</h3>
            <ul class="list-group">
                <li class="list-group-item bg-blue-light-color d-flex justify-content-between">
                    <div>
                        <div class="d-flex">
                            <img src="../../../resources/img/png/public/soccer.png" class="img-fluid icon" alt="Futbol">
                            <p class="text-blue-secondary-color ms-1">Competición</p>
                        </div>
                        <p>Liga Nacional sub 15</p>
                    </div>
                </li>
                <li class="list-group-item bg-blue-light-color d-flex justify-content-between">
                    <div>
                        <div class="d-flex">
                            <img src="../../../resources/img/png/public/reloj.png" class="img-fluid icon" alt="Fecha">
                            <p class="text-blue-secondary-color ms-1">Fecha del Partido</p>
                        </div>
                        <p>19 de julio de 2024</p>
                    </div>
                </li>
                </li>
                <li class="list-group-item bg-blue-light-color d-flex justify-content-between">
                    <div>
                        <div class="d-flex">
                            <img src="../../../resources/img/png/public/gps.png" class="img-fluid icon" alt="Estadio">
                            <p class="text-blue-secondary-color ms-1">Estadio</p>
                        </div>
                        <p>Cancha Bayer, Ciudad Merliot</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>