<div class="container-fluid p-5 mb-5" id="navbar">
    <div class="row justify-content-center align-items-center ps-5 pt-5">
        <div class="col-12">
            <div class="row">
            <div class="col-md-1 col-sm-12 " id="imagen"></div>
            <h1 class="fw-bolder text-light col-md-11 col-sm-12 text-start py-3" id="nombreEquipo"></h1>
            </div>
            <p class="text-light fs-4 mb-5 py-3" id="nombreCategoria"></p>
        </div>
    </div>
</div>
<div class="container mb-5">
    <h3 class="text-blue-principal-color fw-bold">Nuestros partidos</h3>
    <p class="fs-5 fw-light">Revisa nuestros últimos partidos y mantente al pendiente de los resultados</p>

    <!--Cartas de partidos-->
    <div class="row mt-4" id="rowCards">

    </div>

</div>
