<div class="container-fluid p-5 mb-5" id="navbar">
    <div class="row justify-content-center align-items-center ps-5 pt-5">
        <div class="col-sm-12 col-md-7">
            <h1 class="fw-bolder text-light" id="nombreEquipo"></h1>
            <p class="text-light fs-4 mb-5" id="nombreCategoria"></p>
        </div>
    </div>
</div>
<div class="container mb-5">
    <h3 class="text-blue-principal-color fw-bold">Nuestros partidos</h3>
    <p class="fs-5 fw-light">Revisa nuestros últimos partidos y mantente al pendiente de los resultados</p>

    <!--Cartas de partidos-->
    <div class="row mt-4" id="rowCards">

    </div>

</div>
