<div class="bg-blue-light-color pe-5 ps-5 pt-5 pb-2">
    <div class="row">
        <div class="col-auto">
            <img src="../../../resources/img/png/public/lupa.png" width="35px" height="35px">
        </div>
        <div class="col">
            <h3 class="fw-bold">Búsqueda</h3>
            <p>Busca el nombre del equipo o la fecha del partido.</p>
        </div>
    </div>
</div>

<div class="container-fluid pe-5 ps-5">
    <div class="row mb-4 mt-4 mb-5">
        <div class="col-md-6 col-sm-12">
            <input class="form-control me-2 rounded-3" type="search" onchange="searchWord()" id="search2" placeholder="Buscar partido..." aria-label="Search">
        </div>
    </div>
    <p class="text-center mb-4">Resultado de tu búsqueda.</p>
    <div class="text-center" id="noData">

    </div>
    <div class="row mb-5 pb-5" id="matchesCard">

    </div>
</div>