<div class="container">
    <div class="container-fluid mb-5">
        <div class="row gy-3 d-flex align-items-start">
            <div class="col-sm-12 col-md-6">
                <div class="row align-items-start">
                    <div class="col-auto">
                        <img src="../../../resources/img/svg/icons_forms/assists.svg" width="40px" height="40px">
                    </div>
                    <div class="col">
                        <h4 class="mt-2">Convocatoria de jugadores para el partido<span id="partido"></span></h4>
                    </div>
                </div>
            </div>
            <!-- Buscador -->
            <div class="col-sm-12 col-md-6">
                <button type="button" class="btn float-md-end float-sm-left ms-auto text-danger">
                    <img src="../../../resources/img/png/medical_record.png" width="23px" height="23px">
                    Imprimir convocatoria
                </button>
            </div>
        </div>
    </div>
    <!-- Tabla para mostrar los registros existentes -->
    <div class="table-responsive">
        <table class="table table align-middle table-striped table-borderless">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="6" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>Jugador</th>
                    <th>Posición principal</th>
                    <th>Posición secundaria</th>
                    <th class="text-center">Convocado</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tabla_convocados"></tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <!-- Aquí se insertarán los elementos de la paginación -->
            </ul>
        </nav>
    </div>
    <div class="col-sm-12 col-md-6 d-flex justify-content-center">
        <!-- Botón Agregar -->
        <button
            class="btn bg-blue-principal-color text-white ms-auto borde-transparente rounded-3 ms-5"
            type="submit" id="tituloBoton" onclick="guardar()">
            Guardar convocatoria
        </button>
    </div>
</div>