<div class="row d-flex- justify-content-center align-items-center">
    <div class="col-sm-12 col-md-6 text-center">
        <img src="../../../resources/img/svg/icons_generals/contact.svg" class="img-fluid" alt="">
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="container shadow p-5 rounded-4">
            <h4 class="bg-yellow-light-color p-3 text-center rounded-4 fw-semibold">¿Necesitas ayuda?</h4>
            <p class="fw-light text-center">Escribenos por correo o llamnos y dejános saber tús dudas.</p>
            <div class="row d-flex align-items-center fw-semibold contactanos">
                <div class="col-sm-12 col-md-2">
                    <img src="../../../resources/img/svg/icons_generals/email.svg" width="50px">
                </div>
                <div class="col-sm-12 col-md-10">
                    desarrolladores@gmail.com
                </div>
            </div>
            <div class="row d-flex align-items-center mt-4 fw-semibold contactanos">
                <div class="col-sm-6 col-md-2">
                    <img src="../../../resources/img/svg/icons_generals/phone.svg" width="50px">
                </div>
                <div class="col-sm-6 col-md-10">
                    (503) 69839847
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>