<div class="container"></div>
    <div class="container-fluid mb-5">
        <div class="row gy-3">
            <!-- Buscador -->
            <div class="col-sm-12 col-md-6">
                <form id="searchForm" class="d-flex">
                    <input type="search" class="form-control me-3 borde-transparente campo rounded-3 shadow"
                        name="search" placeholder="Buscar por el nombre del equipo o por el lugar obtenido" autocomplete="off" required>
                    <button type="submit"
                        class="btn bg-blue-principal-color borde-transparente rounded-circle me-md-3 me-sm-0">
                        <img src="../../../resources/img/svg/icons_forms/search.svg" width="18px" height="18px">
                    </button>
                    <button type="reset" class="btn" onclick="fillTable()">
                        <img src="../../../resources/img/svg/icons_forms/reset.svg" width="18px" height="18px">
                    </button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">
                <!-- Botón Agregar -->
                <button
                    class="btn bg-blue-principal-color text-white ms-auto borde-transparente float-md-end float-sm-left btn-sm rounded-3"
                    type="submit" onclick="openCreate()">
                    <span class="fs-5 me-2">+</span> Agregar un nuevo reconocimiento
                </button>
            </div>
        </div>
    </div>
    <hr>
    <!-- Tabla para mostrar los registros existentes -->
    <div class="table-responsive">
        <table class="table table align-middle table-striped table-borderless text-center">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="6" id="rowsFound" class="text-start"></td>
                </tr>
                <tr>
                    <th>Logo del equipo</th>
                    <th>Nombre del equipo</th>
                    <th>Temporada</th>
                    <th>Lugar</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tabla_palmares"></tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <!-- Aquí se insertarán los elementos de la paginación -->
        </ul>
    </nav>
</div>

<!-- Componente Modal para guardar un registro -->
<div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5 text-white" id="modalTitle"></h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <!-- Formulario para crear o actualizar un registro -->
            <form id="saveForm">
                <div class="modal-body row g-3">
                    <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                    <input type="number" class="d-none" id="idPalmares" name="idPalmares">
                    <div class="col-sm-12 col-md-6">
                        <label for="equipo" class="form-label fw-semibold">Selecciona el equipo</label>
                        <select id="equipo" type="text" name="equipo" class="form-select" autocomplete="off" required></select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="temporada" class="form-label fw-semibold">Selecciona la temporada</label>
                        <select id="temporada" type="text" name="temporada" class="form-select" autocomplete="off" required></select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="lugar" class="form-label fw-semibold">Selecciona el reconocimiento</label>
                        <select id="lugar" name="lugar" class="form-select" autocomplete="off" required>
                            <option value="" data-img="../../../resources/img/png/default.png">Selecciona el tipo de reconocimiento</option>
                            <option value="Campeón" data-img="../../../resources/img/png/primero.png">Campeón</option>
                            <option value="Subcampeón" data-img="../../../resources/img/png/segundo.png">Subcampeón</option>
                            <option value="Tercer lugar" data-img="../../../resources/img/png/tercero.png">Tercer lugar</option>
                        </select>
                    </div>
                    <!-- Aquí es donde mostraremos la imagen correspondiente -->
                    <div class="col-sm-12 col-md-8" id="imagen-lugar" class="mt-3">
                        <img class="trofeo" id="lugar-img" src="../../../resources/img/png/default.png" alt="Imagen de lugar">
                    </div>
                </div>
                <div class="modal-footer col-sm-12 col-md-12 col-lg-12">
                    <button type="reset" class="btn bg-red-cream-color text-white">Cancelar</button>
                    <button type="submit" class="btn bg-blue-principal-color text-white ">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>