<div class="container">
    <div class="row position-absolute top-50 start-50 translate-middle">
        <div class="col-lg-6 col-md-12 col-sm-12 mb-5">
            <img src="../../../resources/img/svg/img-login.svg" class="img-fluid" alt="logo-index">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="col-sm-12 col-md-8 offset-md-2 offset-sm-0 text-center fs-2 color-title fw-bold">
                <!-- Columna para el enlace de recuperación de contraseña -->
                <span>OneGoal</span>
            </div>
            <div class="input-group borde grupo-campos-texto mt-3"> <!-- Grupo de entrada con borde -->
                <span class="input-group-text icon-container"><img
                        src="../../../node_modules/bootstrap-icons/icons/person.svg" alt="icon-user"></span>
                <!-- Icono de usuario -->
                <input id="alias" type="text" name="alias" placeholder="Usuario" class="form-control" required>
                <!-- Campo de entrada para el usuario -->
            </div>
            <div class="input-group borde grupo-campos-texto mt-3 mb-3"> <!-- Grupo de entrada con borde -->
                <span class="input-group-text icon-container"><img
                        src="../../../node_modules/bootstrap-icons/icons/lock.svg" alt="icon-pass"></span>
                <!-- Icono de candado -->
                <input id="clave" type="password" name="clave" placeholder="Contraseña" class="form-control" required>
                <!-- Campo de entrada para la contraseña -->
            </div>
            <a href="dashboard.html" type="submit"
                class="btn btn-color col-12 col-sm-12 col-md-12 col-lg-12 borde-btn">Iniciar sesión</a>
            <!-- Botón para enviar el formulario de inicio de sesión -->
            <div class="col-sm-12 col-md-10 offset-md-2 offset-sm-0 text-end ">
                <!-- Columna para el enlace de recuperación de contraseña -->
                <a class="color-title" href="../pages/password_recoveries.html">
                    <span>¿Desea recuperar su contraseña?</span></a>
                <!-- Enlace para la página de recuperación de contraseña -->
            </div>
        </div>

    </div>
</div>