<form class="position-static" id="loginForm" autocomplete="off"> <!-- Formulario de inicio de sesión -->
    <div class="container">
        <div class="row position-absolute top-50 start-50 translate-middle">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-5">
                <img src="../../../resources/img/svg/img-login.svg" class="img-fluid" alt="logo-index">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="col-sm-12 col-md-8 offset-md-2 offset-sm-0 text-center fs-2 color-title fw-bold">
                    <!-- Columna para el enlace de recuperación de contraseña -->
                    <span>OneGoal</span>
                </div>
                <div class="input-group borde grupo-campos-texto mt-3"> <!-- Grupo de entrada con borde -->
                    <span class="input-group-text icon-container"><img
                            src="../../../node_modules/bootstrap-icons/icons/person.svg" alt="icon-user"></span>
                    <!-- Icono de usuario -->
                    <input id="alias" type="text" name="alias" placeholder="Usuario" class="form-control" autocomplete="off" required>
                    <!-- Campo de entrada para el usuario -->
                </div>
                <div class="input-group borde grupo-campos-texto mt-3 mb-3"> <!-- Grupo de entrada con borde -->
                    <span class="input-group-text icon-container"><img
                            src="../../../node_modules/bootstrap-icons/icons/lock.svg" alt="icon-pass"></span>
                    <!-- Icono de candado -->
                    <input id="clave" type="password" name="clave" placeholder="Contraseña" class="form-control" autocomplete="off" required>
                    <!-- Campo de entrada para la contraseña -->
                </div>
                <button type="submit" class="btn btn-color col-12 col-sm-12 col-md-12 col-lg-12 borde-btn">Iniciar
                    sesión</button>
                <!-- Botón para enviar el formulario de inicio de sesión -->
                <div class="col-sm-12 col-md-10 offset-md-2 offset-sm-0 text-end ">
                    <!-- Columna para el enlace de recuperación de contraseña -->
                    <a class="color-title" href="../pages/password_recoveries.html">
                        <span>¿Desea recuperar su contraseña?</span></a>
                    <!-- Enlace para la página de recuperación de contraseña -->
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Componente Modal para guardar un registro -->
<div class="modal fade" id="2faModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="modalTitleDetail" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5 text-white" id="modalTitle">2FA - Factor de autenticación</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="p-5 text-center">
                <img class="bg-blue-light-color rounded-circle p-3" src="../../../resources/img/png/candado.png" width="80px" height="80px">
                <h4 class="mb-2 mt-3">Autenticación de dos factores</h4>
                <label class="mb-3" for="code">Ingrese el código de tu app de tu atenticación</label>


                <div class="d-flex justify-content-center">
                    <input class="form-control form-control-lg text-center mt-2 w-50 " type="text" id="code" name="code" placeholder="Ingresa 6 dígitos" required/>
                </div>
                <button class="btn btn-blue-secondary-color text-light mt-4 w-50 " onclick="getCode()">Verificar</button>
            </div>
        </div>
    </div>
</div>


