<div class="container">
    <div class="container-fluid mb-5">
        <div class="row gy-3">
            <!-- Buscador -->
            <div class="col-sm-12 col-md-6">
                <form id="searchForm" class="d-flex">
                    <button type="button" class="btn" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Busca por el nombre, el número de jornada, la fecha de inicio, la fecha final y por la plantilla">
                        <img src="../../../resources/img/svg/icons_forms/info.svg" width="18px" height="18px">
                    </button>
                    <input type="search" class="form-control me-3 borde-transparente campo rounded-3 shadow"
                        name="search" placeholder="Buscar" required>
                    <button type="submit"
                        class="btn bg-blue-principal-color borde-transparente rounded-circle me-md-3 me-sm-0">
                        <img src="../../../resources/img/svg/icons_forms/search.svg" width="18px" height="18px">
                    </button>
                    <button type="reset" class="btn" onclick="fillTable()">
                        <img src="../../../resources/img/svg/icons_forms/reset.svg" width="18px" height="18px">
                    </button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">
                <!-- Botón Agregar -->
                <button
                    class="btn bg-blue-principal-color text-white ms-auto borde-transparente float-md-end float-sm-left btn-sm rounded-3"
                    type="submit" onclick="openCreate()">
                    <span class="fs-5 me-2">+</span> Agregar jornada
                </button>
            </div>
        </div>
    </div>
    <hr>
    <!-- Tabla para mostrar los registros existentes -->
    <div class="table-responsive">
        <table class="table table align-middle table-striped table-borderless ">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="6" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>Número de jornada</th>
                    <th>Nombre de jornada</th>
                    <th>Fecha de inicio de la jornada</th>
                    <th>Fecha final de la jornada</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tabla_jornadas"></tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <!-- Aquí se insertarán los elementos de la paginación -->
        </ul>
    </nav>
</div>

<!-- Componente Modal para guardar un registro -->
<div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5 text-white" id="modalTitle"></h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <!-- Formulario para crear o actualizar un registro -->
            <form id="saveForm">
                <div class="modal-body row g-3">
                    <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                    <input type="number" class="d-none" id="idJornada" name="idJornada">
                    <div class="col-sm-12 col-md-6">
                        <label for="nombreJornada" class="form-label fw-semibold">Nombre de jornada</label>
                        <input id="nombreJornada" type="text" name="nombreJornada" class="form-control"
                            placeholder="Escribe el número de jornada" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="numeroJornada" class="form-label fw-semibold">Número de jornada</label>
                        <input id="numeroJornada" min="1" step="1" type="number" name="numeroJornada"
                            class="form-control" placeholder="Escribe el número de jornada" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="plantilla" class="form-label fw-semibold">Plantilla</label>
                        <select id="plantilla" name="plantilla" class="form-select" required>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="fechaInicial" class="form-label fw-semibold">Selecciona la fecha inicial de la
                            jornada</label>
                        <input id="fechaInicial" type="date" name="fechaInicial" class="form-control" required></input>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="fechaFinal" class="form-label fw-semibold">Selecciona la fecha final de la
                            jornada</label>
                        <input id="fechaFinal" type="date" name="fechaFinal" class="form-control" required></input>
                    </div>
                </div>
                <div class="modal-footer col-sm-12 col-md-12 col-lg-12">
                    <button type="reset" class="btn bg-red-cream-color text-white">Cancelar</button>
                    <button type="submit" class="btn bg-blue-principal-color text-white ">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>