<div class="container">
    <div class="container-fluid mb-5">
        <div class="row gy-3">
            <!-- Buscador -->
            <div class="col-sm-12 col-md-6">
                <form id="searchForm" class="d-flex">
                    <input type="search" class="form-control me-3 borde-transparente campo rounded-3 shadow"
                        name="search" placeholder="Buscar por el nombre del jugador" required>
                    <button type="submit"
                        class="btn bg-blue-principal-color borde-transparente rounded-circle me-md-3 me-sm-0">
                        <img src="../../../resources/img/svg/icons_forms/search.svg" width="18px" height="18px">
                    </button>
                    <button type="reset" class="btn" onclick="fillTable()">
                        <img src="../../../resources/img/svg/icons_forms/reset.svg" width="18px" height="18px">
                    </button>
                    <!-- Botón grafica-->
                    <button type="button" class="btn" onclick="openGraphic()">
                        <img src="../../../resources/img/svg/icons_forms/graphicLine.svg" width="20px" height="20px">
                    </button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">
                <!-- Botón Agregar -->
                <button
                    class="btn bg-blue-principal-color text-white ms-auto borde-transparente float-md-end float-sm-left btn-sm rounded-3"
                    type="submit" onclick="openCreate()">
                    <span class="fs-5 me-2">+</span> Agregar un registro médico
                </button>
            </div>
        </div>
    </div>
    <hr>
    <!-- Tabla para mostrar los registros existentes -->
    <div class="table-responsive">
        <table class="table table align-middle table-striped table-borderless">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="6" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>Jugador</th>
                    <th>Fecha de la lesión</th>
                    <th>Fecha de registro</th>
                    <th>Días lesionado</th>
                    <th>Lesión</th>
                    <th>Retorno a entrenos</th>
                    <th>Retorno a partidos</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tabla_registro_medico"></tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <!-- Aquí se insertarán los elementos de la paginación -->
        </ul>
    </nav>
</div>

<!-- Componente Modal para guardar un registro -->
<div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5 text-white" id="modalTitle"></h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <!-- Formulario para crear o actualizar un registro -->
            <form id="saveForm">
                <div class="modal-body row g-3">
                    <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                    <input type="number" class="d-none" id="idMedico" name="idMedico">
                    <div class="col-sm-12 col-md-6">
                        <label for="jugador" class="form-label fw-semibold">Selecciona al jugador</label>
                        <select id="jugador" type="text" name="jugador" class="form-select" required></select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="fechaLesion" class="form-label fw-semibold">Fecha en que se hizo la
                            lesión</label>
                        <input id="fechaLesion" type="date" name="fechaLesion" class="form-control" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="diasLesionado" class="form-label fw-semibold">Días lesionado</label>
                        <input id="diasLesionado" type="number" name="diasLesionado" class="form-control" min="1"
                            placeholder="Escriba los días que estará lesionado" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="lesion" class="form-label fw-semibold">Selecciona la lesión del jugador</label>
                        <select id="lesion" type="text" name="lesion" class="form-select" required></select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="retornoEntreno" class="form-label fw-semibold">Fecha de retorno a
                            entrenos</label>
                        <input id="retornoEntreno" type="date" name="retornoEntreno" class="form-control" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="retornoPartido" class="form-label fw-semibold">Fecha de retorno a
                            partidos</label>
                        <select id="retornoPartido" type="text" name="retornoPartido" class="form-select"></select>
                    </div>
                </div>
                <div class="modal-footer col-sm-12 col-md-12 col-lg-12">
                    <button type="reset" class="btn bg-red-cream-color text-white">Cancelar</button>
                    <button type="submit" class="btn bg-blue-principal-color text-white">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Componente Modal para ver la gráfica de barras -->
<div class="modal fade" id="graphicModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitleGraphic" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalTitleGraphic"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row justify-content-center">
                <!-- Contenedor de la gráfica -->
                <div class="col-md-9 col-sm-9">
                    <div class="container-fluid">
                        <canvas id="lesiones"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>