<div class="container">
    <div class="container-fluid mb-5">
        <div class="row gy-3">
            <!-- Buscador -->
            <div class="col-sm-12 col-md-6">
                <form id="searchForm" class="d-flex">
                    <input type="search" class="form-control me-3 borde-transparente campo rounded-3 shadow"
                        name="search" placeholder="Buscar" required>
                    <button type="submit"
                        class="btn bg-blue-principal-color borde-transparente rounded-circle me-md-3 me-sm-0">
                        <img src="../../../resources/img/svg/icons_forms/search.svg" width="18px" height="18px">
                    </button>
                    <button type="reset" class="btn" onclick="fillTable()">
                        <img src="../../../resources/img/svg/icons_forms/reset.svg" width="18px" height="18px">
                    </button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">
                <!-- Botón Agregar -->
                <button
                    class="btn bg-blue-principal-color text-white ms-auto borde-transparente float-md-end float-sm-left btn-sm rounded-3"
                    type="submit" onclick="openCreate()">
                    <span class="fs-5 me-2">+</span> Agregar pago
                </button>
            </div>
        </div>
    </div>
    <hr>
    <!-- Tabla para mostrar los registros existentes -->
    <div class="table-responsive">
        <table class="table table align-middle table-striped table-borderless">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="6" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>Jugador</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Pago tardio</th>
                    <th>Mora</th>
                    <th>Mes</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tabla_pago"></tbody>
        </table>
    </div>
</div>

<!-- Componente Modal para guardar un registro -->
<div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5 text-white" id="modalTitle"></h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <!-- Formulario para crear o actualizar un registro -->
            <form id="saveForm">
                <div class="modal-body row g-3">
                    <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                    <input type="hidden" id="idPago" name="idPago">
                    <div class="col-sm-12 col-md-6">
                        <label for="nombreJugador" class="form-label">Nombre jugador</label>
                        <select id="nombreJugador" type="text" name="nombreJugador" class="form-select" required></select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="fechaPago" class="form-label">Fecha del pago</label>
                        <input id="fechaPago" type="date" name="fechaPago" class="form-control"
                            placeholder="Ingresa la fecha del pago" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="cantidadPago" class="form-label">Cantidad del pago</label>
                        <input id="cantidadPago" min="1" step="1" type="number" name="cantidadPago" class="form-control"
                            placeholder="Escribe la cantidad del pago" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="tardioPago" class="form-label">Pago tardio</label>
                        <select id="tardioPago" type="text" name="tardioPago" class="form-select" required></select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="moraPago" class="form-label">Mora del pago</label>
                        <input id="moraPago" min="1" step="1" type="number" name="moraPago" class="form-control"
                            placeholder="Escribe la mora del pago" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="mesPago" class="form-label">Mes</label>
                        <select id="mesPago" type="text" name="mesPago" class="form-select" required></select>
                    </div>
                </div>
                <div class="modal-footer col-sm-12 col-md-12 col-lg-12">
                    <button type="reset" class="btn bg-red-cream-color text-white">Cancelar</button>
                    <button type="submit" class="btn bg-blue-principal-color text-white ">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>