<section class="about m-4">
    <div class="col-10 mx-auto">
        <div class="profile-container p-4">
            <div class="d-flex justify-content-end ">
                <button class="btn btn-outline-blue bg-blue-principal-color text-white mb-2 margin" onclick="openEdit()">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-outline-blue bg-blue-principal-color text-white mb-2" onclick="openPassword()">
                    <i class="bi bi-lock-fill"></i>
                </button>
            </div>
            <div class="text-center">
                <img src="" id="foto" alt="Foto de Perfil" class="profile-image img-fluid rounded-circle mb-3">
                <h2 class="user-name" id="nombre"></h2>
                <p class="user-email" id="email"></p>
            </div>
        </div>
    </div>
</section>


<!-- Modal de detalle de pedido -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table align-middle table-striped table-borderless">
                        <!-- Cabeza de la tabla para mostrar la cantidad de Perfils y los títulos de las columnas -->
                        <thead>
                            <tr>
                                <td colspan="6" id="rowsFound"></td>
                            </tr>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre del producto</th>
                                <th>Cantidad comprada</th>
                                <th>Precio unitario</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <!-- Cuerpo de la tabla para mostrar un Perfil por fila -->
                        <tbody id="tabla_detalle"></tbody>
                    </table>
                </div>
                <div>
                    <p class="text-start">TOTAL QUE PAGO (US$) <b id="pago"></b></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Componente Modal para cambiar contraseña -->
<div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5 text-white" id="modalTitle"></h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <!-- Formulario para actualizar la contraseña -->
            <form id="saveForm">
                <div class="modal-body row g-3">
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-12 col-md-12 mb-3">
                            <label for="claveActual" class="form-label fw-semibold">Contraseña actual</label>
                            <input id="claveActual" type="password" name="claveActual" class="form-control"
                                placeholder="Ingresa la clave del cliente" autocomplete="off" required>
                        </div>
                        <div class="col-sm-12 col-md-12 mb-3">
                            <label for="claveCliente" class="form-label fw-semibold">Contraseña nueva</label>
                            <input id="claveCliente" type="password" name="claveCliente" class="form-control"
                                placeholder="Ingresa la clave del cliente" autocomplete="off" required>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <label for="repetirclaveCliente" class="form-label fw-semibold">Repetir contraseña</label>
                            <input id="repetirclaveCliente" type="password" name="repetirclaveCliente"
                                class="form-control" placeholder="Repite la clave del cliente" autocomplete="off"
                                required>
                        </div>
                    </div>
                    <div class="modal-footer col-sm-12 col-md-12 col-lg-12">
                        <button type="reset" class="btn btn-outline-dark">Cancelar</button>
                        <button type="submit" class="btn btn-outline-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Componente Modal para guardar un registro -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5 text-white" id="modalTitleEdit"></h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <!-- Formulario para crear o actualizar un registro -->
            <form id="editForm">
                <div class="modal-body row g-3">
                    <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                    <input type="number" class="d-none" id="idAdministrador" name="idAdministrador">
                    <div class="container text-center text-md-start text-lg-start">
                        <div class="row align-items-center justify-content-center gy-3">
                            <div class="col-sm-12 col-md-auto">
                                <img class="circulo mt-2" id="img_admin" src="../../../resources/img/svg/avatar.svg"
                                    width="120px" height="120px">
                            </div>
                            <div class="col-sm-12 text-center">
                                <!-- Botón para cargar imagen -->
                                <input type="file" class="form-control" accept=".png .jpg" name="imagenAdministrador" id="imagenAdministrador" hidden>
                                <!-- Para que tenga el mismo funcionamiento del input file le ponemos el for y le agregamos el id del input file -->
                                <label class="btn bg-blue-secondary-color text-light rounded-4"
                                    for="imagenAdministrador">Elige la
                                    imagen</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="nombreAdministrador" class="form-label fw-semibold">Nombre</label>
                        <input id="nombreAdministrador" type="text" name="nombreAdministrador" class="form-control"
                            placeholder="Ingresa el nombre del administrador" autocomplete="off" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="apellidoAdministrador" class="form-label fw-semibold">Apellido</label>
                        <input id="apellidoAdministrador" type="text" name="apellidoAdministrador" class="form-control"
                            placeholder="Ingresa el apellido del administrador" autocomplete="off" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="correoAdministrador" class="form-label fw-semibold">Correo</label>
                        <input id="correoAdministrador" type="email" name="correoAdministrador" class="form-control"
                            placeholder="Ingresa el correo de administrador" autocomplete="off" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="telefonoAdministrador" class="form-label fw-semibold">Teléfono</label>
                        <input id="telefonoAdministrador" type="text" name="telefonoAdministrador" class="form-control"
                            placeholder="0000-0000" autocomplete="off" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="duiAdministrador" class="form-label fw-semibold">DUI</label>
                        <input id="duiAdministrador" type="text" name="duiAdministrador" class="form-control"
                            placeholder="00000000-0" autocomplete="off" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="nacimientoAdministrador" class="form-label fw-semibold">Fecha de nacimiento</label>
                        <input id="nacimientoAdministrador" type="date" name="nacimientoAdministrador"
                            class="form-control" placeholder="Ingresa la fecha de nacimiento del administrador"
                            autocomplete="off" required>
                    </div>
                </div>
                <div class="modal-footer col-sm-12 col-md-12 col-lg-12">
                    <button type="reset" class="btn bg-red-cream-color text-white">Cancelar</button>
                    <button type="submit" class="btn bg-blue-principal-color text-white ">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>