<div class="container">
    <div class="container-fluid mb-5">
        <div class="row gy-3">
            <!-- Buscador -->
            <div class="col-sm-12 col-md-6">
                <form id="searchForm" class="d-flex">
                    <input type="search" class="form-control me-3 borde-transparente campo rounded-3 shadow"
                        name="search" placeholder="Buscar por nombre del equipo o categoría" required>
                    <button type="submit"
                        class="btn bg-blue-principal-color borde-transparente rounded-circle me-md-3 me-sm-0">
                        <img src="../../../resources/img/svg/icons_forms/search.svg" width="18px" height="18px">
                    </button>
                    <button type="reset" class="btn" onclick="cargarTabla()">
                        <img src="../../../resources/img/svg/icons_forms/reset.svg" width="18px" height="18px">
                    </button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">
                <!-- Botón Agregar -->
                <button
                    class="btn bg-blue-principal-color text-white ms-auto borde-transparente float-md-end float-sm-left btn-sm rounded-3"
                    type="submit" onclick="openCreate()">
                    <span class="fs-5 me-2">+</span> Agregar equipo
                </button>
            </div>
        </div>
    </div>
    <hr>

    <label for="select" class="form-label fw-semibold">Selecciona el género de los equipos</label>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-8">
                <select type="password" class="form-select rounded-3 shadow" id="select" onchange="FilterByGender()">
                    <option>Filtrar por género</option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
            </div>
            <div class="col-4">
                <button class="btn btn-outline-blue-color" onclick="openGraphic()">Generar gráfica
                    <img src="../../../resources/img/png/graphic.png" width="20" height="20" class="ms-2">
                </button>
            </div>
        </div>
    </div>

    <!-- Tabla para mostrar los registros existentes -->
    <div class="table-responsive mt-4">
        <table class="table table align-middle table-striped table-borderless text-center">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="5" id="rowsFound"></td>
                </tr>
                <tr>
                    <th class="fw-semibold">Imagen</th>
                    <th class="fw-semibold">Nombre del equipo</th>
                    <th class="fw-semibold">Teléfono de contacto</th>
                    <th class="fw-semibold">Categoría</th>
                    <th class="fw-semibold">Cuerpo técnico</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tabla_equipos"></tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <!-- Aquí se insertarán los elementos de la paginación -->
        </ul>
    </nav>
</div>

<!-- Componente Modal para guardar un registro -->
<div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color text-light">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5" id="modalTitle"></h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <!-- Formulario para crear o actualizar un registro -->
            <form id="saveForm">
                <div class="modal-body row g-3">
                    <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                    <input type="hidden" id="idEquipo" name="idEquipo">
                    <div class="container text-center text-md-start text-lg-start">
                        <div class="row align-items-center justify-content-center gy-3 mt-3 mb-2">
                            <div class="col-sm-12 col-md-auto">
                                <img class="circulo" id="img" src="../../../resources/img/png/default.jpg" width="130px"
                                    height="130px">
                            </div>
                            <div class="col-sm-12 text-center">
                                <!-- Botón para cargar imagen -->
                                <input type="file" class="form-control" id="imagenEquipo" name="logoEquipo" hidden>
                                <!-- Para que tenga el mismo funcionamiento del input file le ponemos el for y le agregamos el id del input file -->
                                <label class="btn bg-blue-secondary-color rounded-4 text-light"
                                    for="imagenEquipo">Cargar
                                    imagen</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-3">
                        <label for="nombreEquipo" class="form-label fw-semibold">Nombre del equipo</label>
                        <input id="nombreEquipo" type="text" name="nombreEquipo" class="form-control"
                            placeholder="Ingresa el nombre del equipo" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="telefonoEquipo" class="form-label fw-semibold">Teléfono de contacto</label>
                        <input id="telefonoEquipo" type="text" name="telefonoEquipo" class="form-control"
                            placeholder="Ingresa el teléfono de contacto" required>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="generoEquipo" class="form-label fw-semibold">Género del equipo</label>
                        <select id="generoEquipo" type="text" name="generoEquipo" class="form-select" required>
                            <option>Masculino</option>
                            <option>Femenino</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="categoriaEquipo" class="form-label fw-semibold">Selecciona la categoría</label>
                        <select id="categoriaEquipo" type="text" name="idCategoria" class="form-select"
                            required></select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="cuerpoTecnico" class="form-label fw-semibold">Selecciona el cuerpo técnico</label>
                        <select id="cuerpoTecnico" type="text" name="idCuerpoTecnico" class="form-select"
                            required></select>
                    </div>
                </div>
                <div class="modal-footer col-sm-12 col-md-12 col-lg-12">
                    <button type="reset" class="btn bg-red-cream-color text-white">Cancelar</button>
                    <button type="submit" class="btn bg-blue-principal-color text-white ">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Componente Modal para ver el cuerpo técnico -->
<div class="modal fade" id="seeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitle1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color text-light">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5" id="modalTitle1"></h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <!-- Formulario para crear o actualizar un registro -->
            <form id="SeeForm">
                <div class="modal-body row g-3 justify-content-center">
                    <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                    <input type="hidden" id="idCuerpoTecnico" name="idEquipo">
                    <div class="row mt-4 py-1" id="cuerpoTecnicoEquipo">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Componente Modal para ver la grafica -->
<div class="modal fade" id="seeGraphic" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="modalTitle1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable bg-white p-3">
        <div class="modal-content">
            <div class="modal-header bg-blue-principal-color text-light">
                <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                <h1 class="modal-title fs-5" id="modalTitleGraphic"></h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <!-- Espacio para poner la grafica -->
            <h3 class="mt-5 text-center">Equipos por subcategorías</h3>
            <small class="text-center">En este apartado podrás encontrar a través de una gráfica de barras todos los equipos de una categoría en específico</small>

            <hr>

            <div class="p-4 mt-2 ms-2 d-flex justify-content-center">
                <div class="col-6 rounded-3">
                    <small class="fw-semibold">Elige la subcategoría de la que quieres ver su gráfica</small>
                    <div class="row align-items-center border border-dark-subtle rounded-3 p-2 me-0 mt-2">
                        <div class="col-1 d-flex text-center">
                            <img src="../../../resources/img/png/filter.png" width="20" height="20">
                            <img src="../../../resources/img/png/filter2.png" width="20" height="20">
                        </div>
                        <div class="col-11">
                            <select type="password" class="form-select rounded-3" id="selectCategory" onchange="selectCategory()">
                            </select>
                        </div>
                    </div>
                    <canvas id="barGraphic"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>