<div class="container ">
    <div class="row gx-5">

        <div class="row mt-2 ">
            <div class="col-9 d-none d-md-block">
                <p class="fs-5 fw-semibold">Resultado del último partido jugado</p>
            </div>
        </div>
        <div class="container shadow rounded-4 d-none d-md-block mb-5" id="match">

        </div>



        <div class="col-sm-12 col-md-7">
            <!-- Mensaje de Bienvenida al usuario -->

            <div class="d-none d-md-block">
                <div class="d-flex">
                    <h4 class="fw-semibold">Bienvenido&nbsp;</h4>
                    <h4 class="fw-semibold" id="nombreAdmin"></h4>
                </div>
            </div>

            <p class="fw-light">Es un gusto tenerte de regreso, ponte al día sobre las nuevas actualizaciones de tu
                academia de fútbol.</p>
            <!-- Fila que tiene dos col (Select para seleccionar input y la grafica) -->
            <div class="row mt-5 gx-5">
                <div class="col-sm-12 col-md-6">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-3 d-none d-md-block">
                            <img src="../../../resources/img/svg/icons_dashboard/statistics.svg" alt="">
                        </div>
                        <div class="col-9">
                            <div class="text-center bg-blue-principal-color rounded-3">
                                <p class="p-2 text-light fs-5">Estadísticas</p>
                            </div>
                        </div>
                    </div>
                    <!-- Input para seleccionar al equipo -->
                    <div class="mb-3 row mt-5">
                        <div class="col-sm-8 col-sm-12">
                            <label for="equipos" class="form-label fw-semibold">Elige el equipo</label>
                            <select class="form-select" id="equipos" onchange="changeSoccer()"></select>
                        </div>
                    </div>
                    <!-- Fila que contiene el icono e informacion de las estadisticas -->
                    <div class="row d-flex align-items-center mt-4">
                        <div class="col-sm-12 col-md-12">
                            <p class="fs-6 fw-semibold mb-0">Estadísticas generales del equipo</p>
                            <p class="small fw-light">Revisa el promedio que el equipo tiene en las áreas técnicas,
                                tácticas, físicas y psicológicas en las pruebas de
                                entrenamiento </p>
                        </div>
                    </div>
                </div>
                <!-- Grafica -->
                <div class="col-sm-12 col-md-6 text-center">
                    <!-- Por el momento solo es una imagen -->
                    <canvas id="estadistica" class="d-none"></canvas>
                    <p id="text" class="mt-5 fw-semibold bg-blue-light-color p-3 rounded-3">Selecciona un equipo para
                        mostrar la gráfica</p>
                    <p id="graphicText" class="d-none mt-5 fw-semibold bg-blue-light-color p-3 rounded-3"></p>
                </div>
            </div>

            <hr>
            <!-- Seccion de resultados de partido -->
            <p class="fs-5 fw-semibold mb-4 mt-4">Resultados generales del equipo</p>
            <div class="row d-flex d-flex text-center">
                <div class="col-sm-12 col-md-2">
                    <h1 class="p-3 fw-semibold text-light result_one rounded-3" id="ganados"></h1>
                    <p class="fw-light">Partidos ganados</p>
                </div>
                <div class="col-sm-12 col-md-2">
                    <h1 class="p-3 fw-semibold text-light result_one result_second rounded-3" id="perdidos"></h1>
                    <p class="fw-light">Partidos perdidos</p>
                </div>
                <div class="col-sm-12 col-md-2">
                    <h1 class="p-3 fw-semibold text-light result_one result_third  rounded-3  " id="empatados"></h1>
                    <p class="fw-light">Partidos empatados</p>
                </div>
                <div class="col-sm-12 col-md-2 resutl4">
                    <h1 class="p-3 fw-semibold text-light result_one result_second rounded-3" id="golesContra"></h1>
                    <p class="fw-light">Goles en contra</p>
                </div>
                <div class="col-sm-12 col-md-2 resutl5">
                    <h1 class="p-3 fw-semibold text-light result_one rounded-3" id="golesFavor"></h1>
                    <p class="fw-light">Goles a favor</p>
                </div>
                <div class="col-sm-12 col-md-2 resutl6">
                    <h1 class="p-3 fw-semibold text-light result_one result_third  rounded-3  " id="diferencia"></h1>
                    <p class="fw-light">Diferencia</p>
                </div>
            </div>

            <!-- Seccion del resultado del ultimo partido jugado-->

        </div>
        <!-- Calendario e equipos -->
        <div class="col-sm-12 col-md-5 shadow rounded-3">
            <p class="fs-5 fw-semibold mb-0 d-none d-md-block">Organizador</p>
            <p class="fw-light d-none d-md-block">Lleva todas tus actividades y tareas más organizadas.</p>
            <!-- Calendario -->
            <div class="mb-5 d-none d-md-block">
                <div id="calendar"></div>
            </div>
            <!-- Equipos registrados -->
            <div class="container_soccer">
                <div class="container">
                    <div class="row title-content d-flex align-items-center rounded-3">
                        <div class="col-8">
                            <h4 class="text-center text-light">Equipos</h4>
                        </div>
                        <div class="col-4">
                            <img src="../../../resources/img/svg/icons_dashboard/football_ball.svg" class="img-fluid"
                                 alt="">
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush" id="teams">

                </ul>
            </div>
        </div>
    </div>


    <!-- Componente Modal para seleccionar una opcion -->
    <div class="modal fade" id="selectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-blue-principal-color">
                    <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                    <h1 class="modal-title fs-5 text-white" id="modalTitle1"></h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="text-center p-4 mx-4">
                    <div class="row">
                        <button type="submit" class="btn bg-blue-principal-color text-white" id="updateEvent">Actualizar evento</button>
                        <button type="submit" class="btn bg-red-cream-color text-white mt-2" id="deleteEvent">Eliminar evento</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Componente Modal para guardar un registro -->
    <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-blue-principal-color">
                    <img height="30" width="30" class="me-2" src="../../../resources/img/svg/logos/logo_blanco.svg">
                    <h1 class="modal-title fs-5 text-white" id="modalTitle"></h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <!-- Formulario para crear o actualizar un registro -->
                <form id="saveForm">
                    <div class="modal-body row g-3">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" class="d-none" id="idCalendario" name="idCalendario">
                        <div class="col-sm-12 col-md-12">
                            <label for="titulo" class="form-label fw-semibold">Título del evento</label>
                            <input id="titulo" type="text" name="titulo" class="form-control"
                                   placeholder="Escribe el titulo del evento" required>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="fechaI" class="form-label fw-semibold">Fecha y hora inicial del evento</label>
                            <input id="fechaI" type="datetime-local" name="fechaInicial" class="form-control"
                                   placeholder="Selecciona la fecha de inicio" required>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="fechaF" class="form-label fw-semibold">Fecha y hora final del evento</label>
                            <input id="fechaF" type="datetime-local" name="fechaFinal" class="form-control"
                                   placeholder="Selecciona la fecha final" required>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="color" class="form-label fw-semibold">Color</label>
                            <div class="d-flex justify-content-evenly mt-2">
                                <div id="color1" class="color-circle"></div>
                                <div id="color2" class="color-circle"></div>
                                <div id="color3" class="color-circle"></div>
                                <div id="color4" class="color-circle"></div>
                                <div id="color5" class="color-circle"></div>
                                <div id="color6" class="color-circle"></div>
                                <div id="color7" class="color-circle"></div>
                            </div>
                            <input id="color" type="text" name="color" class="form-control form-control-sm mt-4 col-2" readonly>
                        </div>
                    </div>
                    <div class="modal-footer col-sm-12 col-md-12 col-lg-12 justify-content-center">
                        <button type="reset" class="btn bg-red-cream-color text-white">Cancelar</button>
                        <button type="submit" class="btn bg-blue-principal-color text-white ">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
