<div class="container">
    <div class="container-fluid mb-5">
        <div class="row gy-3">
            <!-- Buscador -->
            <div class="col-sm-12 col-md-6">
                <form id="searchForm" class="d-flex">
                    <input type="search" class="form-control me-3 borde-transparente campo rounded-3 shadow"
                        name="search" placeholder="Buscar" autocomplete="off" required>
                    <button type="submit"
                        class="btn bg-blue-principal-color borde-transparente rounded-circle me-md-3 me-sm-0">
                        <img src="../../../resources/img/svg/icons_forms/search.svg" width="18px" height="18px">
                    </button>
                    <button type="reset" class="btn" onclick="fillTable()">
                        <img src="../../../resources/img/svg/icons_forms/reset.svg" width="18px" height="18px">
                    </button>
                </form>
            </div>
            <div class="col-6">
                <select class="form-select" name="paginas" id="paginas" onchange="updateJornadasPorPagina()">
                    <option value="5">Filtrar por 5 registros</option>
                    <option value="10">Filtrar por 10 registros</option>
                    <option value="20">Filtrar por 20 registros</option>
                    <option value="25">Filtrar por 25 registros</option>
                </select>
            </div>
        </div>
    </div>
    <h5 colspan="6" id="rowsFound" class="pt-3 pb-3"></h5>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4" id="tabla_jornadas">

    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <!-- Aquí se insertarán los elementos de la paginación -->
        </ul>
    </nav>
</div>