<div class="container">
    <div class="container-fluid mb-5">
        <div class="row gy-3">
            <!-- Buscador -->
            <div class="col-sm-12 col-md-6">
                <form id="searchForm" class="d-flex">
                    <input type="search" class="form-control me-3 borde-transparente campo rounded-3 shadow"
                        name="search" placeholder="Buscar" required>
                    <button type="submit"
                        class="btn bg-blue-principal-color borde-transparente rounded-circle me-md-3 me-sm-0">
                        <img src="../../../resources/img/svg/icons_forms/search.svg" width="18px" height="18px">
                    </button>
                    <button type="reset" class="btn" onclick="fillTable()">
                        <img src="../../../resources/img/svg/icons_forms/reset.svg" width="18px" height="18px">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <!-- 
    <div class="table-responsive">
        <table class="table table align-middle table-striped table-borderless">
            <thead class="text-center">
                <tr>
                    <td colspan="6" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>Número de jornada</th>
                    <th>Nombre de la jorndada</th>
                    <th>Fecha de inicio de la jornada</th>
                    <th>Fecha final de la jornada</th>
                    <th>Ver entrenamientos</th>
                </tr>
            </thead>
            <tbody class="text-center" id="tabla_jornadas"></tbody>
        </table>
    </div> 
    -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4" id="tabla_jornadas">

    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <!-- Aquí se insertarán los elementos de la paginación -->
        </ul>
    </nav>
</div>