<div class="container">
    <div class="row align-items-center p-2 rounded-3">
        <div class="col-auto">
            <div class="p-2">
                <img src="../../../resources/img/svg/icons_dashboard/football_ball.svg" width="35px">
            </div>
        </div>
        <div class="col">
            <h5 class="mt-2">Seleccionar el partido:</h5>
            <p>Selecciona el partido del cual quieres agregar las participaciones de tus jugadores</p>
        </div>
    </div>


    <hr class="mt-2">

    <!-- Fila que contiene dos columnas -->
    <div class="container mt-5">
        <div class="row d-flex text-center gy-5 gx-5" id="matches_cards">

        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination mt-4">
            <!-- Aquí se insertarán los elementos de la paginación -->
        </ul>
    </nav>
</div>