<div class="container">
    <div class="container-fluid mb-5">
        <div class="row gy-3">
            <!-- Buscador -->
            <div class="col-sm-12 col-md-6">
                <form id="searchForm" class="d-flex">
                    <input type="search" class="form-control me-3 borde-transparente campo rounded-3 shadow"
                        name="search" placeholder="Busca el horario por su nombre o por el día" required>
                    <button type="submit"
                        class="btn bg-blue-principal-color borde-transparente rounded-circle me-md-3 me-sm-0">
                        <img src="../../../resources/img/svg/icons_forms/search.svg" width="18px" height="18px">
                    </button>
                    <button type="reset" class="btn" onclick="fillTable()">
                        <img src="../../../resources/img/svg/icons_forms/reset.svg" width="18px" height="18px">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <!-- Tabla para mostrar los registros existentes -->
    <div class="table-responsive">
        <table class="table table align-middle table-striped table-borderless">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="6" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th>Día</th>
                    <th>Hora inicial</th>
                    <th>Hora final</th>
                    <th>Campo de entrenamiento</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tabla_horarios"></tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <!-- Aquí se insertarán los elementos de la paginación -->
        </ul>
    </nav>
</div>