<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../../resources/img/svg/logos/logo_blanco.svg">
    <!-- Agregamos el framework de boostrap - css -->
    <link type="text/css" rel="stylesheet" href="../../../resources/scss/main.css">
    <!-- Agregamos su archivo css -->
    <link type="text/css" rel="stylesheet" href="../../../resources/css/password_recovery.css">
    <title>Código de verificación</title>
</head>

<body>
    <main id="main"></main>

    <div class="container d-flex justify-content-center my-5">
        <div class="card shadow-lg bg-blue-principal-color text-white p-4 p-md-5">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-md-5 d-flex justify-content-center">
                <img src="../../../resources/img/svg/logos/logo_blanco.svg" alt="Logo" class="img-fluid logo-center" width="150" height="150">
              </div>
              <div class="col-md-7">
                <h2 class="text-center mb-4 letra2">Ingresa el código de verificación</h2>
                <div class="input-group borde grupo-campos-texto-publico mb-3">
                  <span class="input-group-text icon-container">
                    <img src="../../../node_modules/bootstrap-icons/icons/check2-square.svg" alt="icon-user" class="input-icon">
                  </span>
                  <input id="codigo" type="text" name="codigo" placeholder="___ ___" class="form-control letra" required>
                </div>
                <div class="text-center">
                  <a href="change_password.html" type="submit" class="btn btn-color col-12 col-md-8 borde-btn letra">
                    <i class="bi bi-send"></i> Confirmar
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Agregamos el framework de boostrap - js -->
    <script type="text/javascript" src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../../resources/js/vanillaTextMask.js"></script>
    <script type="text/javascript" src="../../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador del componente -->
    <script type="text/javascript" src="../../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador del componente javascript -->
    <script type="text/javascript" src="../../../controllers/admin/password_recovery.js"></script>

</body>

</html>